# .env.development
# .env.production
.next
**/out
**/build

**/bak
**/*.bak
**/*.backup
**/backup

**/*.lock
**/*.log
**/package-lock.json

src/**/*.js
src/**/*.js.map

**/node_modules
**/certificates
**/docker-backups
**/node_modules
**/.editorconfig
**/storybook-static


#public/icons
public/**/*[_][0-9][0-9][0-9][_][0-9][0-9]*.jpg
public/**/*[_][0-9][0-9][0-9][0-9][_][0-9][0-9]*.jpg
public/**/*[_][0-9][0-9][0-9][_][0-9][0-9]*.png
public/**/*[_][0-9][0-9][0-9][0-9][_][0-9][0-9]*.png

server.js
server.js.map

src/server/bin/cors.js
src/server/bin/cors.js.map
src/server/bin/env.js
src/server/bin/env.js.map
src/server/bin/helmet.js
src/server/bin/helmet.js.map
src/server/bin/helmet.ts
src/server/bin/main.js
src/server/bin/main.js.map

src/server/bin/morgan.js
src/server/bin/morgan.js.map
src/server/includes/jwt.js
src/server/includes/jwt.js.map
src/server/includes/status.js
src/server/includes/status.js.map
src/server/includes/xssFilter.js
src/server/includes/xssFilter.js.map
src/server/routers/routes.js
src/server/routers/routes.js.map